@model ShowViewModel

@{
    ViewBag.Title = "Show";
}

@section Styles {
    <link href="~/Content/site/css/show.css" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script src="~/Scripts/site/show.js" type="text/javascript"></script>
}

@if (!Model.HasError)
{
    if (string.IsNullOrEmpty(Model.NotFound))
    {
        <h2>@Model.Profile.name @@ @Model.Profile.realm</h2>
        if (!string.IsNullOrEmpty(Model.Avatar))
        {
            <div>
                <img src="@Model.Avatar" />
            </div>
        }
        <h3>At this point, in future versions, starts a lot of (bootstrap-visualized) data:</h3>
        <h4>Level: @Model.Profile.level</h4>
        <h4>Points: @Model.Profile.achievementPoints</h4>
        <h4>Raid-Progress: Here could be a bootstrap progress bar</h4>
        <h4>Skill: Here will be a calculated "Skill-Number"</h4>
        <h4>And many more...</h4>
    }
    else
    {
        <p><b>Can not find @Model.NotFound.</b></p>
        <p>Please make sure the given @Model.NotFound exists.</p>
        <p>@Html.ActionLink("Click here to search again", "Character", "Find")</p>
    }
}
